body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}

.hide {
    display: none;
}

main {
    /* border: 1px solid purple; */
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

#title-div {
    margin: 0 auto;
    text-align: center;
}

#message-container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 100%;
}

#user-selection {
    width: 120px;
    text-align: center;
}

#message-display {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

#comp-selection {
    width: 120px;
    text-align: center;
}

#game-start, #new-round-btn {
    background-color: rgb(79, 224, 98);
    border: none;
    color: white;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}

#score-container {
    font-size: 20px;
    /* border: 1px solid orange; */
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#round-container {
    font-size: 28px;
}

#user-btn-container {
    /* border: 1px solid green; */
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-btn-container button {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    background-color: rgba(200, 92, 92, 0.876);
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#new-round-container {
    text-align: center;
}
